body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Bodoni Moda", serif;
  text-transform: capitalize;
}
h3 {
  font-size: 14px;
  font-weight: 100;
}
p {
  font-weight: 100;
}
a {
  text-decoration: none;
  color: #4ea2a6;
}
input {
  background: #f4f1db;
  color: #3a9191;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 100;
  padding-left: 8px;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

a:hover {
  color: #004043;
}
.container {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
  padding-left: 16px;
  padding-right: 16px;
}

#current-location-button {
  background: #f4f1db;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 5px;
}

.wrapper {
  background: #f4f1db;
  margin-top: 20px;
  color: #3a9191;
  border-radius: 14px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.wrapper-one {
  padding: 35px;
  padding-bottom: 0;
}
.wrapper-two {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 74%,
    rgba(78, 139, 144, 1) 77%
  );
}
.wrapper-three {
  padding: 18px;
  background: #4e8b90;
  color: #f8f5df;
  border-radius: 0 0 14px 14px;
}
.large-button {
  text-align: right;
}

.small-button {
  text-align: left;
}

.col-2 {
  text-align: center;
}

.number-of-degrees {
  font-size: 45px;
  font-weight: 100;
}

.celsius-and-farenheit {
  font-size: 12px;
  font-weight: 100;
  position: relative;
  top: -25px;
}

#days-icon-temperature {
  font-size: 25px;
}

#large-icon-temperature {
  font-size: 50px;
  color: #88bdbd;
}

#temperature-description {
  text-transform: capitalize;
}

#humidity-and-wind {
  text-align: center;
}
.coded-by {
  color: #155359;
  font-size: 11px;
  text-align: center;
}
.social-media-icons {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-bottom: 30px;
}
